{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Биология</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul type="none">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="physics.html">Физика</a></li>
            <li><a href="chemestry.html">Химия</a></li>
            <li><a href="biology.html">Биология</a></li>
            <li><a href="math.html">Математика</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Темы</h1>
        <div class="topics">
            <a href="" class="topic">11 A</a>
            <a href="" class="topic">11 A</a>
            <a href="" class="topic">11 A</a>
            <a href="" class="topic">11 A</a>
            <a href="" class="topic">11 A</a>
            <a href="" class="topic">+ Добавить урок</a>
        </div>
    </div>
    <footer>
        <div class="fcontent">
            <ul type="none">
                <li>Instagram</li>
                <li><a href="">@someone</a></li>
            </ul>
            <ul type="none">
                <li>Youtube</li>
                <li><a href="">Youtube chanel name</a></li>
            </ul>
            <ul type="none">
                <li>Number</li>
                <li><a href="">+8 777 777 77 77</a></li>
            </ul>
            <ul type="none">
                <li>More...</li>
                <li><a href="">edu@gmail.com</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>