{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
        <ul type="none">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'Physics' %}">Новости</a></li>
            <li><a href="{% url 'ComingSoon' %}">Конкурсы</a></li>
            <li><a href="{% url 'ComingSoon' %}">Предложения</a></li>
            <li><a href="{% url 'ComingSoon' %}">О нас</a></li>
        </ul>
    </nav>
    <div class="container"><h1>Coming soon</h1></div>
</body>
</html>