{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
        <ul type="none">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'Physics' %}">Новости</a></li>
            <li><a href="{% url 'ComingSoon' %}">Конкурсы</a></li>
            <li><a href="{% url 'ComingSoon' %}">Школьникам</a></li>
            <li><a href="{% url 'ComingSoon' %}">Учителям</a></li>
            <li><a href="{% url 'ComingSoon' %}">О нас</a></li>
        </ul>
        <div class="progress">
            <p class="name">Name</p>
            <progress id="progress-bar" value="70" max="100"></progress>
        </div>
    </nav>
    <div class="container">
        <div class="links">
            <a href="{% url 'Physics' %}"><p class="title">Физика</p>
            <p class="desc">Материалы для физики</p></a>
            <span class="linkgr">
                <a href="{% url 'Physics' %}">7 класс</a>
                <a href="{% url 'Physics' %}">8 класс</a>
                <a href="{% url 'Physics' %}">9 класс</a>
                <a href="{% url 'Physics' %}">10 класс</a>
                <a href="{% url 'Physics' %}" id="linklast">11 класс</a>
            </span>
        </div>
        <div class="links">
            <a href="{% url 'ComingSoon' %}"><p class="title">Химия</p>
            <p class="desc">Материалы для химии</p></a>
            <span class="linkgr">
                <a href="{% url 'Physics' %}">7 класс</a>
                <a href="{% url 'Physics' %}">8 класс</a>
                <a href="{% url 'Physics' %}">9 класс</a>
                <a href="{% url 'Physics' %}">10 класс</a>
                <a href="{% url 'Physics' %}" id="linklast">11 класс</a>
            </span>
        </div>
        <div class="links">
            <a href="{% url 'ComingSoon' %}"><p class="title">Биология</p>
            <p class="desc">Материалы для биологии</p></a>
            <span class="linkgr">
                <a href="{% url 'Physics' %}">7 класс</a>
                <a href="{% url 'Physics' %}">8 класс</a>
                <a href="{% url 'Physics' %}">9 класс</a>
                <a href="{% url 'Physics' %}">10 класс</a>
                <a href="{% url 'Physics' %}" id="linklast">11 класс</a>
            </span>
        </div>
        <div class="links">
            <a href="{% url 'ComingSoon' %}"><p class="title">Математика</p>
            <p class="desc">Материалы для математики</p></a>
            <span class="linkgr">
                <a href="{% url 'Physics' %}">7 класс</a>
                <a href="{% url 'Physics' %}">8 класс</a>
                <a href="{% url 'Physics' %}">9 класс</a>
                <a href="{% url 'Physics' %}">10 класс</a>
                <a href="{% url 'Physics' %}" id="linklast">11 класс</a>
            </span>
        </div>
    </div>
    <footer>
        <div class="fcontent">
            <ul type="none">
                <li>Instagram</li>
                <li><a href="">@someone</a></li>
            </ul>
            <ul type="none">
                <li>Youtube</li>
                <li><a href="">Youtube chanel name</a></li>
            </ul>
            <ul type="none">
                <li>Number</li>
                <li><a href="">+8 777 777 77 77</a></li>
            </ul>
            <ul type="none">
                <li>More...</li>
                <li><a href="">edu@gmail.com</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>