:root {
    --font-size: 16px;
    /* font-size: var(--font-size) */
    --trns: all 0.2s;
    --fcol: #1b78c4;
    --slav: #b59ac9;
    --scya: #7fd3df;
    --sbla: #636363;
    --slil: #c9b7e6;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid: 7% auto 12% / 20% auto 20%;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    grid-column: span 3;
    grid-row: 1;
    height: 7%;
    min-height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: var(--scya);
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav ul li a {
    color:white;
    text-decoration: none;
    transition: var(--trns);
    position: relative;
}

nav ul li:hover {
    transform: scale(1.2);
}

nav ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav .progress {
    margin-right: 15px;
}
nav .progress p {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
nav .progress .progress-bar {
    width: 150px;
    height: 20px;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
nav .progress .progress-bar-fill {
    width: 10%;
    height: 80%;
    background-color: var(--scya);
    border-radius: 10px;
    position: relative;
}
.container {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    padding-bottom: 15px;
}

.links {
    width: 70%;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: var(--trns);
    background-color: white ;
    display: grid;
    grid-template: 1fr / 0.5fr 0.5fr;
}

.links:hover {
    transform: scale(1.005);
}

.links a {
    text-decoration: none;
    color: black;
    width: 70%;
}

.links .linkgr {
    display: grid;
    grid-template:  1fr 1fr 1fr / 1fr 1fr;
    padding: 10px;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    align-items: center;
    justify-items: center;
    border-left: 2px dashed black;
}
.links .linkgr #linklast {
    grid-column: span 2;
}
.title {
    font-size: 40px;
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}

.desc {
    padding-left: 15px;
}

.topics {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 10px 20px;
}

.topic {
    color: var(--fcol);
}

.roadmap {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    gap: 15px;
}

.roadmap .b1,
.roadmap .b2 {
    height: 80px;
    width: 150px;
    border: none;
    border: 3px solid black;
    background-color: white;
    border-top: none;
}

.roadmap .b1 {
    justify-self: end;
    align-self: start;
    border-right: none;
    border-bottom-left-radius: 20px;
}

.roadmap .b2 {
    justify-self: start;
    align-self: start;
    border-left: none;
    border-bottom-right-radius: 20px;
}

.roadmap .b1:first-child {
    text-align: center;
    width: 80px;
    margin-right: 0;
    border-top: 3px solid black;
    border-top: 3px solid black;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.roadmap .bb:last-child {
    border-right: 3px solid black;
    border-bottom-right-radius: 20px;
    margin-right: 65px;
    width: 90px;
}

.r1,
.r2,
.r1 use,
.r2 use {
    width: 150px;
    height: 150px;
    z-index: 0;
}

.r1 {
    transform: rotate(90deg) scaleY(1.1);
    justify-self: start;
}

.r2 {
    width: 150px;
    height: 150px;
    justify-self: end;
}

footer {
    grid-column: span 3;
    grid-row: 3;
    background-color: var(--scya);
}

.fcontent {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    height: 100%;
    padding: 0 50px;
}

.fcontent ul li:first-child {
    font-weight: bolder;
}

.fcontent ul li a {
    color: black;
}